
<table><tr><td>
<form (ngSubmit)="NuovoUtente()" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput name="email" placeholder="email" formControlName="email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" placeholder="password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput type="text" name="nome" placeholder="nome" formControlName="nome">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cognome</mat-label>
          <input matInput type="text" name="cognome" placeholder="cognome" formControlName="cognome">
        </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Registrati</button>
</form>
</td>

<!-- 
<form>
    <input type="email" name="email" placeholder="email" [(ngModel)]="authUser.email">
    <input type="password" name="password" placeholder="password" [(ngModel)]="authUser.password">
    <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
</form> -->
<td>
<form>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" name="email" placeholder="email" [(ngModel)]="authUser.email" matInput required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" placeholder="password" [(ngModel)]="authUser.password" required>
      </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="login()"
    [disabled]="!authUser.email || !authUser.password || authUser.password.lenght < 4">Login</button>
</form>
</td>
</tr></table>