<h1 mat-dialog-title>Crea fattura</h1>
<div mat-dialog-content *ngIf="fattura">
    Crea una nuova fattura del cliente {{fattura.numeroFattura}}?
</div>
<form>
      <!-- <select 
      class="form-control"
      name="customer" [(ngModel)]="clienti">
        <option value="">--Seleziona--</option>
        <option *ngFor="let cliente of clienti"
        [value]="cliente.id">{{cliente.nome}}</option> -->
      <!-- </select> -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>id</mat-label>
        <input matInput type="number" name="id" [(ngModel)]="fattura.id" [disabled]="true">
      </mat-form-field>
    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>cliente</mat-label>
        <input type="cliente" matInput name="cliente" placeholder="cliente" [(ngModel)]="fattura.cliente">
    </mat-form-field> -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>prodotti</mat-label>
          <input matInput type="text" name="prodotti" placeholder="prodotti" [(ngModel)]="fattura.prodotti">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>scadenza</mat-label>
          <input matInput type="date" name="scadenza" placeholder="scadenza" [(ngModel)]="fattura.scadenza">
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cognome</mat-label>
          <input matInput type="surname" name="cognome" placeholder="cognome" [(ngModel)]="fattura.cognome">
        </mat-form-field> -->
        <span mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="createCliente()">Crea</button>
      <button mat-button mat-dialog-close>Chiudi</button>
    </span>
</form>