// $giallo: #ffc800;

.example-card {
    max-width: 400px;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    display: block;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
  }
  
button {
  margin-right: 8px;
}
.mat-elevation-z8{
  width: 90%;
  margin: 0 auto;
}

#modifica{
  background-color: var(--giallo);
}