<h1 mat-dialog-title>Modifica utente</h1>
<div mat-dialog-content *ngIf="user">
  Vuoi modificare l'utente {{user.nome}}?
</div>
<form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>id</mat-label>
        <input matInput type="number" name="id" [value]="user.id" [(ngModel)]="user.id" [disabled]="true">
      </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>email</mat-label>
        <input type="email" matInput name="email" placeholder="email" [(ngModel)]="user.email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" placeholder="password" minlength="4" [(ngModel)]="user.password">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput type="text" name="nome" placeholder="nome" minlength="3" [(ngModel)]="user.nome">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cognome</mat-label>
          <input matInput type="text" name="cognome" placeholder="cognome" [(ngModel)]="user.cognome">
        </mat-form-field>
        <span mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" (click)="aggiornaUtente(user)"
      [disabled]="!user.nome || !user.cognome || !user.password || !user.email || user.nome.length < 3 || user.password.length < 4">Modifica</button>
      <button mat-button mat-dialog-close>Chiudi</button>
    </span>
</form>
