<h1 mat-dialog-title>Modifica fattura</h1>
<div mat-dialog-content *ngIf="fattura">
  Vuoi modificare la fattura del cliente {{fattura.numeroFattura}}?
</div>
<form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>id</mat-label>
        <input matInput type="id" name="id" [value]="fattura.id" [(ngModel)]="fattura.id" [disabled]="true">
      </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>cliente</mat-label>
        <input type="cliente" matInput name="cliente" placeholder="cliente" [(ngModel)]="fattura.numeroFattura">
    </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>prodotti</mat-label>
          <input matInput type="prodotti" name="prodotti" placeholder="prodotti" [(ngModel)]="fattura.prodotti">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>scadenza</mat-label>
          <input matInput type="scadenza" name="scadenza" placeholder="scadenza" [(ngModel)]="fattura.scadenza">
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cognome</mat-label>
          <input matInput type="surname" name="cognome" placeholder="cognome" [(ngModel)]="fattura.cognome">
        </mat-form-field> -->
        <span mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="aggiornaCliente(fattura)">Modifica</button>
      <button mat-button mat-dialog-close>Chiudi</button>
    </span>
</form>
